scripts/wf02_submit.json
{"name": "WF-02: 项目注册表Done → 自动建项", "active": true, "nodes": [{"id": "node-schedule", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.1, "position": [0, 0], "parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "*/5 * * * *"}]}}}, {"id": "node-query", "name": "查询Done记录", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 0], "parameters": {"method": "POST", "url": "https://api.notion.com/v1/databases/ccb49243-a892-4691-bf0f-6adb3b1e576d/query", "authentication": "predefinedCredentialType", "nodeCredentialType": "notionApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Notion-Version", "value": "2022-06-28"}]}, "sendBody": true, "contentType": "json", "body": "{\"filter\": {\"property\": \"填写完成\", \"status\": {\"equals\": \"Done\"}}, \"page_size\": 1}", "options": {}}, "credentials": {"notionApi": {"id": "qdn9QguMUFJGJrGb", "name": "Notion account"}}}, {"id": "node-if", "name": "有待处理记录?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [440, 0], "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond1", "leftValue": "={{ $json.results.length }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}], "combinator": "and"}, "options": {}}}, {"id": "node-noop-empty", "name": "无记录 结束", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [660, 160], "parameters": {}}, {"id": "node-extract", "name": "提取项目信息", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, -160], "parameters": {"jsCode": "const page = $input.first().json.results[0];\nconst props = page.properties;\n\nconst name = props['项目名称']?.title?.[0]?.plain_text || '';\nconst code = props['项目编号']?.rich_text?.[0]?.plain_text || '';\nconst client = props['客户名称']?.rich_text?.[0]?.plain_text || '';\nconst pm = props['PM负责人']?.rich_text?.[0]?.plain_text || '';\nconst type = props['项目类型']?.select?.name || '数字化交付';\nconst pageId = page.id;\n\nreturn [{json: {\n  pageId,\n  name,\n  code,\n  client,\n  pm,\n  type\n}}];"}}, {"id": "node-lock", "name": "锁定状态(初始化中)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, -160], "parameters": {"method": "PATCH", "url": "=https://api.notion.com/v1/pages/{{ $json.pageId }}", "authentication": "predefinedCredentialType", "nodeCredentialType": "notionApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Notion-Version", "value": "2022-06-28"}]}, "sendBody": true, "contentType": "json", "body": "{\"properties\":{\"填写完成\":{\"status\":{\"name\":\"In progress\"}},\"状态\":{\"select\":{\"name\":\"初始化中\"}}}}", "options": {}}, "credentials": {"notionApi": {"id": "qdn9QguMUFJGJrGb", "name": "Notion account"}}}, {"id": "node-create-notion", "name": "创建Notion项目章程页", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1100, -280], "parameters": {"method": "POST", "url": "https://api.notion.com/v1/pages", "authentication": "predefinedCredentialType", "nodeCredentialType": "notionApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Notion-Version", "value": "2022-06-28"}]}, "sendBody": true, "contentType": "json", "body": "={{ JSON.stringify({\"parent\":{\"page_id\":\"33e114fc090c812dad23d802c0c71dc9\"},\"icon\":{\"type\":\"emoji\",\"emoji\":\"📋\"},\"properties\":{\"title\":{\"title\":[{\"type\":\"text\",\"text\":{\"content\":($('提取项目信息').item.json.code ? $('提取项目信息').item.json.code + ' - ' : '') + $('提取项目信息').item.json.name}}]}},\"children\":[{\"object\":\"block\",\"type\":\"heading_1\",\"heading_1\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"项目章程\"}}]}},{\"object\":\"block\",\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"基本信息\"}}]}},{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"项目名称：\"},\"annotations\":{\"bold\":true}},{\"type\":\"text\",\"text\":{\"content\":$('提取项目信息').item.json.name}}]}},{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"项目编号：\"},\"annotations\":{\"bold\":true}},{\"type\":\"text\",\"text\":{\"content\":$('提取项目信息').item.json.code}}]}},{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"客户名称：\"},\"annotations\":{\"bold\":true}},{\"type\":\"text\",\"text\":{\"content\":$('提取项目信息').item.json.client}}]}},{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"PM负责人：\"},\"annotations\":{\"bold\":true}},{\"type\":\"text\",\"text\":{\"content\":$('提取项目信息').item.json.pm}}]}},{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"项目类型：\"},\"annotations\":{\"bold\":true}},{\"type\":\"text\",\"text\":{\"content\":$('提取项目信息').item.json.type}}]}},{\"object\":\"block\",\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"项目目标\"}}]}},{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"（待填写）\"}}]}},{\"object\":\"block\",\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"里程碑计划\"}}]}},{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"（待填写）\"}}]}},{\"object\":\"block\",\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"风险登记\"}}]}},{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"（待填写）\"}}]}}]}) }}", "options": {}}, "credentials": {"notionApi": {"id": "qdn9QguMUFJGJrGb", "name": "Notion account"}}}, {"id": "node-create-asana", "name": "创建Asana项目", "type": "n8n-nodes-base.asana", "typeVersion": 1, "position": [1100, -60], "parameters": {"resource": "project", "operation": "create", "name": "={{ ($('提取项目信息').item.json.code ? $('提取项目信息').item.json.code + ' - ' : '') + $('提取项目信息').item.json.name }}", "additionalFields": {"notes": "=客户：{{ $('提取项目信息').item.json.client }}\nPM：{{ $('提取项目信息').item.json.pm }}\n项目类型：{{ $('提取项目信息').item.json.type }}"}}, "credentials": {"asanaApi": {"id": "t1H98T0ROD4S804H", "name": "Asana account"}}}, {"id": "node-update-links", "name": "回写链接到注册表", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1320, -160], "parameters": {"method": "PATCH", "url": "=https://api.notion.com/v1/pages/{{ $('提取项目信息').item.json.pageId }}", "authentication": "predefinedCredentialType", "nodeCredentialType": "notionApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Notion-Version", "value": "2022-06-28"}]}, "sendBody": true, "contentType": "json", "body": "={{ JSON.stringify({\"properties\":{\"章程Notion页链接\":{\"url\":$('创建Notion项目章程页').item.json.url},\"交付Asana项目链接\":{\"url\":\"https://app.asana.com/0/\" + $('创建Asana项目').item.json.data.gid + \"/list\"}}}) }}", "options": {}}, "credentials": {"notionApi": {"id": "qdn9QguMUFJGJrGb", "name": "Notion account"}}}, {"id": "node-done", "name": "建项完成", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1540, -160], "parameters": {}}], "connections": {"Schedule Trigger": {"main": [[{"node": "查询Done记录", "type": "main", "index": 0}]]}, "查询Done记录": {"main": [[{"node": "有待处理记录?", "type": "main", "index": 0}]]}, "有待处理记录?": {"main": [[{"node": "提取项目信息", "type": "main", "index": 0}], [{"node": "无记录 结束", "type": "main", "index": 0}]]}, "提取项目信息": {"main": [[{"node": "锁定状态(初始化中)", "type": "main", "index": 0}]]}, "锁定状态(初始化中)": {"main": [[{"node": "创建Notion项目章程页", "type": "main", "index": 0}, {"node": "创建Asana项目", "type": "main", "index": 0}]]}, "创建Notion项目章程页": {"main": [[{"node": "回写链接到注册表", "type": "main", "index": 0}]]}, "创建Asana项目": {"main": [[{"node": "回写链接到注册表", "type": "main", "index": 0}]]}, "回写链接到注册表": {"main": [[{"node": "建项完成", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [], "pinData": {}}
